# Session 1

### Python Programming , Variabel, Tipe Data, dan Operators

by Syamil Fakhruddin

learn more about markdown __[here](https://markdown-it.github.io/)__

**Your first code**

In [1]:
print('Hello World')

Hello World

**More about print function**

In [2]:
print('Hello')
print()
print('World!')

Hello

World!

In [3]:
print("I'm a Data Scientist")

I'm a Data Scientist

In [13]:
print('I\'m a Data Scientist')

I'm a Data Scientist

In [16]:
print('dia bilang \'HEllO\'')

dia bilang 'HEllO'

In [6]:
print('Hello\nWorld!')

Hello
World!

Beberapa kalimat dapat dipisahkan dengan koma

In [18]:
print('Hello', 'I\'am', 'a', 'Shift Academy', 'Student')

Hello I'am a Shift Academy Student

In [19]:
print('Marhaban Ya Ramadhan')
print('Ramadhan Mubarak')

Marhaban Ya Ramadhan
Ramadhan Mubarak

end=" " digunakan untuk meletakkan argumen setelah argumen pertama

In [20]:
print('Marhaban Ya Ramadhan', end=' ')
print('Ramadhan Mubarak')

Marhaban Ya Ramadhan Ramadhan Mubarak

sep=" " digunakan untuk memisahkan antar argumen dengan string kosong atau karakter lain

In [25]:
print('Marhaban', 'Ya', 'Ramadhan', sep='-')

Marhaban-Ya-Ramadhan

In [26]:
print("My", "name", "is", sep="_", end="*")
print("Monty", "Python.", sep="*", end="*\n")
print("Digital", "Talent", "Dahsyat", sep="_", end="*")
print("Guntur", "Budi.", sep="*", end="*\n")

My_name_is*Monty*Python.*
Digital_Talent_Dahsyat*Guntur*Budi.*

Lab

Bagaimana agar dapat mengeluarkan hasil print seperti = Belajar^^Python^^di...Shift-Academy*

In [29]:
print('Belajar', 'Python', 'di', sep='^^', end='...')
print('Shift', 'Academy', sep='-', end='*')

Belajar^^Python^^di...Shift-Academy*

### Variabel

Variabel merupakan suatu tempat atau notasi untuk menyimpan value agar kita tidak perlu mengetik ulang value secara utuh di line berikutnya jika dibutuhkan

In [30]:
a = 'Shift Academy'

In [31]:
print(a)

Shift Academy

In [32]:
a

'Shift Academy'

Do

In [33]:
nama_kota = 'Jakarta Timur'

Donts

In [34]:
nama kota = 'Jakarta Timur'

SyntaxError: invalid syntax (<ipython-input-34-a7998f8e4fec>, line 1)

Donts

In [35]:
&a = 9

SyntaxError: invalid syntax (<ipython-input-35-d27df17b5c05>, line 1)

In [36]:
8a = 'Kota'

SyntaxError: invalid syntax (<ipython-input-36-82ab42a6216f>, line 1)

In [37]:
asss!k = 'Asik'

SyntaxError: invalid syntax (<ipython-input-37-b07e3a16b78d>, line 1)

Keywords

In [38]:
True = 'Benar'

SyntaxError: cannot assign to True (<ipython-input-38-592b954d8b11>, line 1)

Variabel dapat diupdate

In [42]:
kota = 'Jakarta Timur'

In [43]:
print(kota)

Jakarta Timur

In [44]:
kota = 'Bandung'

In [45]:
print(kota)

Bandung

Case Sensitif

In [46]:
Kota = 'Batam'

In [47]:
print(Kota)

Batam

![keywords](https://images1.programmersought.com/69/91/913a0663b12e55e9369a6c2c3d56e775.png)

In [88]:
a, b = 'Depok', 'Bandung'

In [89]:
print(b)

Bandung

In [90]:
print(a)

Depok

In [91]:
#Tebak keluaran

x, y, z = 1, 2, 3
y, x, z = x, y, z
z, x, y = z, y, x

print(x, y, z)

1 2 3

### Tipe Data

![Tabel Tipe Data](https://miro.medium.com/max/1838/1*QfI8H_8HplGa1v9IrrWjBA.png)

#### String

String / Character / Object ditandai dengan ada nya tanda '' atau "". Biasa digunakan untuk huruf alfabet.

In [39]:
kendaraan = 'Motor'

In [40]:
print(kendaraan)

Motor

In [41]:
print('Motor')

Motor

In [48]:
print(type(kendaraan))

<class 'str'>

Operasi Dasar pada String

In [50]:
jenis_motor = 'Sport'

In [51]:
print(kendaraan + jenis_motor)

MotorSport

In [52]:
print(kendaraan + ' ' + jenis_motor)

Motor Sport

In [53]:
print(kendaraan*3)

MotorMotorMotor

In [56]:
vehicle = kendaraan.replace('o', 'i')

In [57]:
print(vehicle)

Mitir

In [58]:
print(kendaraan.upper())

MOTOR

In [59]:
print(kendaraan.lower())

motor

## Number

#### Integer

Integer merupakan tipe data angka bilangan bulat

In [64]:
a = 1
print(a)
print('Tipe Data \'a\' :', type(a))

1
Tipe Data 'a' : <class 'int'>

#### Float

Float merupakan tipe data angka bilangan desimal

In [66]:
b = 1.0
print(b)
print('Tipe Data \'b\' :', type(b))

1.0
Tipe Data 'b' : <class 'float'>

**Operasi pada Tipe Data Angka**

In [69]:
a = 7
b = 8.0
c = 8

In [68]:
print('a + b =', a+b)
print('a - b =', a-b)
print('a x b =', a*b)
print('a : b =', a/b)

a + b = 15.0
a - b = -1.0
a x b = 56.0
a : b = 0.875

In [70]:
print('a + c =', a+c)
print('a - c =', a-c)
print('a x c =', a*c)
print('a : c =', a/c)

a + c = 15
a - c = -1
a x c = 56
a : c = 0.875

Jika integer terkena operasi bersama float maka keluaran akan otomatis menjadi float

Other Operations

In [72]:
a = 7
b = 8.0
c = 15

In [74]:
print('c // a =', c//a)
print('c % a =', c%a)

c // a = 2
c % a = 1

In [80]:
0%2

0

In [83]:
1%2

1

In [82]:
0//4

0

In [84]:
1//2

0

In [76]:
2%0

ZeroDivisionError: integer division or modulo by zero

In [79]:
2//0

ZeroDivisionError: integer division or modulo by zero

#### Mengubah tipe data

In [86]:
a = 10
b = '11'
c = 12.0

print(a, type(a))
print(b, type(b))
print(c, type(c))

10 <class 'int'>
11 <class 'str'>
12.0 <class 'float'>

In [87]:
a = float(10)
b = int('11')
c = str(12.0)

print(a, type(a))
print(b, type(b))
print(c, type(c))

10.0 <class 'float'>
11 <class 'int'>
12.0 <class 'str'>

#### Boolean

Tipe data yang mengeluarkan output antara Benar (True) atau Salah (False)

In [95]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [92]:
1 + 2 == 3

True

In [93]:
7 > 10

False

In [94]:
1 + 2 != 3

False

In [96]:
'James' == 'Ganteng'

False

In [97]:
'jakarta' != 'Jakarta'

True

In [98]:
'jakarta'.upper() != 'Jakarta'.upper()

False

### Metode Input

In [100]:
kata = input('Masukkan kata :')
print(kata)

Masukkan kata :apa aja
apa aja

In [102]:
nama_kota = input('Masukkan nama kota :')
print(nama_kota)

Masukkan nama kota :Jakarta Timur
Jakarta Timur

In [103]:
angka = input('Masukkan angka :')
print(angka)
print(type(angka))

Masukkan angka :3
3
<class 'str'>

In [104]:
angka = int(input('Masukkan angka :'))
print(angka)
print(type(angka))

Masukkan angka :3
3
<class 'int'>

In [105]:
angka1 = int(input('Masukkan angka pertama :'))
angka2 = int(input('Masukkan angka kedua :'))

print('{} + {} = {}'.format(angka1, angka2, angka1 + angka2))

Masukkan angka pertama :7
Masukkan angka kedua :9
7 + 9 = 16

Lab

In [106]:
nama = input('Masukkan Nama :')
umur = int(input('Anda Lahir Tahun :'))
umur = str(2021 - umur)

print('Nama Saya adalah', nama, 'dan umur saya', umur, 'Tahun')

Masukkan Nama :Syamil
Anda Lahir Tahun :1996
Nama Saya adalah Syamil dan umur saya 25 Tahun